@import 'variables';

:host {
  header {
    position: sticky;
    top: 0;
    z-index: map-get($zIndex, third);
    padding: 1rem;
    background: map-get($colors, white);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);

    .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: map-get($colors, black);
      font-weight: 600;
      max-width: 1140px;
      margin: 0 auto;
    }
  }
}
