@import 'variables';

:host {
  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .showcase {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 257px);
    gap: 1rem;

    &__sort {
      @media (min-width: 768px) {
        justify-self: end;
      }

      select {
        padding: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}
