@import 'variables';

:host {
  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  .showcase {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 257px);
    gap: 1rem;

    &__sort {
      @media (min-width: 768px) {
        justify-self: end;
      }

      select {
        padding: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    border: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: spin 1.1s infinite linear;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
