@import 'variables';

:host {
  .cart {
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: map-get($colors, blue);
      transform: scale(1.1);
    }

    &__badge {
      position: absolute;
      color: map-get($colors, blue);
    }
  }
}
