@import 'variables';

:host {
  .cart {
    cursor: pointer;
    display: flex;

    &:not(.empty) {
      color: map-get($colors, blue);
    }

    &__icon {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__badge {
      color: map-get($colors, blue);
    }
  }
}
